.title {
  width: 150px;
  margin-top: 1.8rem;
}

.title h1 {
  font-size: 2rem;
  margin: 0;
  max-width: 100px;
  font-size: 42px;
}

.container{
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.container-employees a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 10em;
  height: 7em;
  position: relative;
  text-align: center;
  font-weight: bolder;
}

/* *********************************  Formulaire  ********************************* */

.form-container {
  width: 500px;
  margin: auto;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 30px;
}
.form-container label {
  display: block;
  margin-bottom: 10px;
}
.form-container input[type="text"],
.form-container select {
  display: block;
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  outline: none;
  text-align: left;
  font-weight: bolder;  
}
.dates{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}