body .register{
  font-family: 'Varela Round', sans-serif;
  min-height: 100vh;
  width: 100%;
  background: url('./images/montagnes.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
body .employee-list-container{
  font-family: 'Varela Round', sans-serif;
 }

/* *********************************  Header  ********************************* */

.container{
  display: flex;
  justify-content: space-around;
  align-self: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.title {
  width: 150px;
  margin-top: 1.8rem;
  opacity: 0;
  animation: fadeIn 2.5s ease-in-out forwards;
  color: #3f3f3f;
}

.title h1 {
  font-size: 2rem;
  margin: 0;
  max-width: 100px;
  font-size: 42px;
}

@keyframes move-down {
  to {
    transform: translateY(0); /* Descend à la position initiale */
  }
}
.create-employee {
  font-size: 1.3rem;
  margin-bottom: 1.rem;
  margin-top: 2rem;
  transform: translateY(-6rem);
  animation-name: move-down;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
  color: #3f3f3f;
}

/* ******************  NavLink  ****************** */

.container-employees {
  opacity: 0;
  animation: fadeIn 2.5s ease-in-out forwards;
}

.container-employees a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 10em;
  height: 10em;
  position: relative;
  text-align: center;
  font-weight: bolder;
  padding: 1.5em;
  color: black;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  transition: 0.5s transform, 0.5s border-color;
  top: 1em;
  color: #3f3f3f;
}
@keyframes bounce-6 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(0); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(0); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.container-employees a:hover {
  transform: scale(1.05) translateY(-0.25em);
  animation: bounce-6 1s ease-out forwards;
  color: #FDD7D5;
  background-color: #7377B3;
  border: none;
}

/* *********************************  Formulaire  ********************************* */

.form-container {
  width: 500px;
  margin: auto;
  height: auto;
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255,255,255,0.5);
}
.first{
  margin-top: 2rem;
}
.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #6c6c6c;
}
.form-container input[type="text"],
.form-container select {
  display: block;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
  outline: none;
  text-align: left;
  font-weight: bolder;  
  transition: 0.4s;
  color: #7377B3;
  font-family: 'Varela Round', sans-serif;
}
.form-container input[type="text"]:focus {
  box-shadow:  0 5px 5px rgba(0,0,0, 0.2);
  transition: 0.4s;
  }

  label[for="first-name"], 
  label[for="last-name"] {
    margin-left: 2.7rem;
    font-weight: bolder;
  }
  label[for="last-name"] {
    color: white;
  }
  label[for="date-of-birth"], 
  label[for="start-date"] {
    display: block;
    margin-top: 1.8rem;
    text-align: center;
    font-weight: bolder;
    color:white;
  }
  input[name="firstName"],
  input[name="lastName"],
  input[name="dateOfBirth"],
  input[name="startDate"] {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
}

.dates {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 2rem; */
}

/******************* Calendrier *******************/
.p-inputtext {
  width: 145px !important;
  text-align: center !important;
  cursor: pointer;
}

.form-container fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin-bottom: 20px;
  margin: 0;
}
.form-container fieldset legend {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  padding-top: 1.5rem;
  margin-bottom: 10px;
  font-weight: bolder;
}

form fieldset legend {
  margin: 0 auto; /* Permet de centrer la légende sur Firefox */
}

.form-container fieldset input {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}
input#street,
input#city{
  width: 300px;
}

.state-label, .department-label{
  font-weight: bolder;
  margin-top: -3px;
  color: white;
}

#select-state, #select-department{
  background: white;
  padding: 8px;
  width: 285px;
  font-weight: bolder;
  color: #7377B3;
  font-family: 'Varela Round', sans-serif;
}
.MuiSvgIcon-root {
  margin-top: -2px;
  font-size: 35px !important;
  color: #7377B3 !important;
}
.MuiMenuItem-root {
  color: #7377B3 !important;
  font-family: 'Varela Round', sans-serif !important;
}

label[for="street"],
label[for="city"],
label[for="state"]
 {
  font-weight: bolder;
  color:white;
} 

label[for="zip-code"] {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
  margin-top: 1rem;
  color:white;
}

input[name="zipCode"] {
  display: block;
  width: 150px;
  padding: 5px;
  padding-left: 15px;
  border:none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 20px !important;
  height: 40px;
  color: #7377B3;
}

label[for="department"] {
  margin-top: 1.5rem;
  margin-left: 3.2rem;
  font-weight: bolder;
  color: white;
}

#department{
  margin-left: 3.2rem;
}


/* *********************************  Modal  ********************************* */

/* *********************************  Button Save  ********************************* */

.btn-save{
  display: flex;
  justify-content: center;
  margin-top: 1.7rem;
}

.button.dark {
  background: white;  
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
  transition: 0.8s;
}
.button.dark:hover{
  background: #9388BD;
  transition: 0.8s;
} 
.button {
  --text: #7377B3;
  --font-size: 20px;
  --duration: 0.5s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  padding: 16px 32px;
  font-family: 'Varela Round', sans-serif;
  font-weight:bolder;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y));
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-appearance: none; */
}
.button div {
  display: flex;
}
.button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
}
.button div span:nth-child(1) {
  --d: 0.02s;
}
.button div span:nth-child(2) {
  --d: 0.07s;
}
.button div span:nth-child(3) {
  --d: 0.12s;
}
.button div span:nth-child(4) {
  --d: 0.17s;
}

.button:hover {
  --shadow: var(--shadow-hover);
  --move: -4px;
  --shadow-active: 0 3px 1px rgba(0, 0, 0, 0.2);
  --text: white;
}

.button:hover span {
  animation: move var(--duration) linear var(--d);
}
.button.smoke {
  --move: 12px;
  --move-y: -8px;
  --blur: 4px;
}

.button.smoke:hover span {
  --duration: 0.9s;
  animation: smoke var(--duration) linear var(--d);
}


@keyframes smoke {
  45%, 55% {
    filter: blur(var(--blur));
  }
  50%, 50.1% {
    opacity: 0;
  }
  25%, 75% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--move)) translateY(var(--move-y));
  }
  50.1% {
    transform: translateX(calc(var(--move) * -1));
  }
}

/* *********************************  Input Error  ********************************* */

/* message d'erreur rouge et border rouge et vert des inputs */
.error-input.error {
  border: 2px solid red !important;
  background: rgba(255, 0, 0, 0.119)!important;
  z-index: 100;
}
/* .success {
  border: 2px solid green !important;
} */
.error-input.error #select-department , .error-input.error #select-state  {
  background: transparent;
}

.error-input .my-calendar{
  background: transparent;
}
.input-error input {
  background-color: rgba(255, 0, 0, 0.119);
  border: 2px solid red !important;
}

.success:not(#select-department):not(#select-state) {
  border: 2px solid green !important;
  height: 43px;
  border-radius: 5px;
}

.error-text-date {
  color: red;
  font-size: 0.6rem;
  margin-left: 5px;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 1.6rem;
  display: block;
  margin-top: -36px;
}

/* ***************************************************  Page  EmployeeList  ***************************************************  */

/* *********************************  Header EmployeeList  ********************************* */

.employee-list-container .block-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 32px;
  transition: 250ms;
  perspective: 500px;
  cursor: pointer;
}
.employee-list-container .block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  border-radius: 32px;
  transition: 250ms;
  /* transform-style: preserve-3d; */
  transform-origin: bottom left;
  transform: rotateZ(-15deg);
  will-change: transform;
  /* box-shadow: 16px 0 40px #e4e4e4; */
}
.employee-list-container .block-container .btn-back-1 {
  background: linear-gradient(135deg, #FDD7D5 -20%,#fea19c 120%);
}
/* .employee-list-container .block-container .btn-back-2 {
  background: linear-gradient(135deg, #5c46eb -20%, #013fff 120%);
} */
.employee-list-container .block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  border-radius: 32px;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer horizontalement le texte */
  text-align: center; 
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
  box-shadow: -3px 3px 7px hsla(222, 67%, 12%, 0.257);

  background-image: url("./images/logo-wealth.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}
.employee-list-container .block-container:hover > .btn-back {
  transform: translateZ(0px) rotateZ(0deg) rotateX(0deg) rotateY(0deg);
}
/* .employee-list-container .block-container:hover > .btn-front {
  transform: translateZ(0px) translateY(0px) rotateX(0deg) rotateY(0deg);
} */
.creased-text {
  color: #9388BD;
  font-size: 8px;
  font-weight:bolder;
}
.block-container:hover .creased-text {
  transition: 250ms;
  color: transparent;
}
.hover-text{
  transition: 250ms;
  color: transparent;
  font-size: 12px;
  font-weight:bold;
}
.block-container:hover .hover-text {
  transition: 250ms;
  transform: translateY(130px) translateX(20px);
  color: #9388BD;
}








h2.create-employee-shadow { 
  padding: 90px 12.5px 40px;
  transform: translateX(-50%) translateY(-45%);
  left: 50%;
  position: absolute;
  width: 24rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: #fff;
  background: linear-gradient(to bottom, #ffc9c6, rgba(147, 136, 189, 0.944));
  box-shadow: -18px 18px 30px 0px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  animation-name: none; /* Annuler l'animation */
  animation-fill-mode: none; /* Annuler l'animation */
  letter-spacing: 0.0375em;
  text-shadow: 0.25px -0.25px 0 #9388BD, -0.25px 0.5px 0.25px #9388BD, -0.5px 1px 0.25px #9388BD, -0.75px 1.5px 0.25px #9388BD, -1px 2px 0.25px #9388BD, -1.25px 2.5px 0.25px #9388BD, -1.5px 3px 0.25px #9388BD, -1.75px 3.5px 0.25px #9388BD, -2px 4px 0.25px #9388BD, -2.25px 4.5px 0.25px #9388BD, -2.5px 5px 0.25px #9388BD, -2.75px 5.5px 0.25px #9388BD, -3px 6px 0.25px #9388BD, -3.25px 6.5px 0.25px #9388BD, -3.5px 7px 0.25px #9388BD, -3.75px 7.5px 0.25px #9388BD, -4px 8px 0.25px #9388BD, -4.25px 8.5px 0.25px #9388BD, -4.5px 9px 0.25px #9388BD, -4.75px 9.5px 0.25px #9388BD, -5px 10px 0.25px #9388BD, -5.25px 10.5px 0.25px #9388BD, -5.5px 11px 0.25px #9388BD, -5.75px 11.5px 0.25px #9388BD, -6px 12px 0.25px #9388BD, -6.25px 12.5px 0.25px #9388BD, -6.5px 13px 0.25px #9388BD, -6.75px 13.5px 0.25px #9388BD, -7px 14px 0.25px #9388BD;
}
.create-employee.no-delay {
  animation-delay: 0s; /* supprime le délai de l'animation */
}




.employee-list-container .container-employees a{
  color: #9388BD;
}
.employee-list-container .container-employees a:hover {
  color: white;
  background-color: #9388BD;
}
.employee-list-container .container-employees  a{
  border: 2px solid #9388BD;
}

/* *********************************  Tableau  ********************************* */

.wrapper {
  max-width: 1200px;
  margin: 2rem auto;
  backdrop-filter: blur( 20.5px );
  -webkit-backdrop-filter: blur( 20.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.employee-table {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  min-width: 1100px;
}

table {
  width: 100%; 
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 10px;
}
th {
  color: #9388BD;
  border-bottom: 2px solid #FDD7D5;
  cursor: pointer;
  padding-bottom: 1.5rem;
}

.employee-table-row:hover {
  background-color: #9388bd34;
}
.employee-table-row.selected {
  background-color: #FDD7D5;

}
.employee-table-row.selected:hover {
  background-color: #fb8c93;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.table-container {
  transition: height 0.5s ease;
  min-width: 1100px;
}
.employee-table-row {
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
}

.employee-table-top-left,
.employee-table-bottom-left,
.employee-table-bottom-right {
  display: flex;
  align-items: center;
}
.employee-table-top-left{
  margin-left: 2rem;
}

.employee-table-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.employee-table-bottom-right {
  justify-content: flex-end;
  margin-right: 2rem;
}

/* *********************************  Page Size  ********************************* */

#select-pageSize{
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #9388BD;
  font-family: 'Varela Round', sans-serif;

}
.search-entries{
  margin-right: 1rem;
  color: #9388BD;
  font-weight: 600;
}


/* *********************************  Search  ********************************* */

/* @media screen and (min-width: 968px) {
  body {
    font-size: .875rem;
  }
} */

.bloc-search{
  box-sizing: border-box;
  padding: 0;
  margin-right: 2rem;
  display: grid;
  place-items: center;
}

.search {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: -3px 3px 7px hsla(222, 67%, 12%, 0.257);
  border-radius: 4rem;
  padding: 10px;
  transition: width .3s cubic-bezier(.9, 0, .3, .9), ease .5s;
}

.search:hover {
  box-shadow: -7px 10px 15px #5335716f;
}

.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-size: 1rem;
  font-weight:700;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  color: #9388BD;
  font-family: 'Varela Round', sans-serif;
}

.search__input::placeholder {
  color: #9388bd52;
}

.search__input::-webkit-search-cancel-button {
  display: none;
}

.search__button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .4s cubic-bezier(.9, 0, .3, .9);
  appearance: none;
  -webkit-appearance: none;
  color: #9388BD;
}

.search__icon,
.search__close {
  font-size: 1.5rem;
  position: absolute;
  transition: opacity .4s cubic-bezier(.9, 0, .3, .9);
}

.search__close {
  opacity: 0;
}

.show-search {
  width: 100%;
}

.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__button {
  transform: rotate(90deg);
}

.show-search .search__icon {
  opacity: 0;
}

.show-search .search__close {
  opacity: 1;
}

@media screen and (min-width:576px) {
  .show-search {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .show-search {
    width: 160px;
    height: 40px;
  }
  .search__input::placeholder {
    font-size: 10px;
  }
  .search__input{
    width: calc(100% - 32px);
  }

  .search__icon,
  .search__close {
  font-size: 1.3rem;
  }
}

/* *********************************  Pagination  ********************************* */

.employee-table-bottom-right {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}

.pagination-button {
  background-color: white;
  color: #9388BD;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 5px;
  font-family: 'Varela Round', sans-serif;
}

.pagination-button:hover:not(.active) {
  background-color: #9388bd33;
  border-radius: 5px;
}
.pagination-button.active {
  background-color:#9388BD;
  color: #fff;
  border-radius: 5px;
}

.pagination-button:disabled {
  cursor: not-allowed;
  background-color: white;
  border-radius: 5px;
  color: #9388BD;
}

.pagination-button.right-arrow:hover {
  font-size: 30px;
}

/* *********************************  Button Delete  ********************************* */

.employee-table-button-delete {
  background-color: #9388BD;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
  margin-top: -0.5rem;
  margin-left: 2rem;
}
.employee-table-button-delete:hover {
  background-color: #70659c
}
.employee-table-button-delete-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.icon {
  margin-right: 8px;
}


/* *********************************  CheckBox  ********************************* */

.checkbox-wrapper-12 {
  position: relative;
}

.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 18px;
  height: 18px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
  width: 18px;
  height: 18px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: trasnlate3d(0, 0, 0);
      -ms-transform: trasnlate3d(0, 0, 0);
          transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 11px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #866efb;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  -webkit-transition: stroke-dashoffset 0.3s ease;
  transition: stroke-dashoffset 0.3s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked + label {
  -webkit-animation: splash-12 0.6s ease forwards;
          animation: splash-12 0.6s ease forwards;
          
}

.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
  stroke: #ffffff;
}

@-webkit-keyframes splash-12 {
  40% {
    background: #866efb;
    -webkit-box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
            box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    -webkit-box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
            box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: #866efb;
    -webkit-box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
            box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    -webkit-box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
            box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

/* *********************************  Glassmorphism Tableau  ********************************* */

.spacer {
  margin-top: 5rem;
  /* margin-bottom: 6rem; */
  position: relative;
}
.footer{
  margin-top: 5rem;
}

.shapes-container {
  position: absolute;
  z-index: -1;
}

.square,
.random-shape {
  position: absolute;
  opacity: 0.8;
  /* animation: rotate 100s linear infinite; 
  will-change: transform, opacity; */
}

.circle {
  position: absolute;
  opacity: 0.8;
  width: 180px;
  height: 158px;
  background-color: #9388bdbe;
  border-radius: 50%;
  top: 350px;
  left: calc(50vw + 450px);
  /* animation: move 15s ease-in-out infinite; 
  will-change: transform; */
}

.square {
  width: 150px;
  height: 150px;
  background-color: #FDD7D5;
  top: 240px;
  left: calc(50vw - 650px);
  border-radius: 10px;
  transform: rotate(20deg);
}

.random-shape {
  width: 120px;
  height: 120px;
  background-color: #cba6d3be;
  top: 0px;
  left: calc(50vw + 0px);
  border-radius: 15px;
  transform: rotate(-20deg);
}  

/* *********************************  Page Error 404  ********************************* */

.page-404 {
  min-height: 100vh;
  width: 100%;
  background-image: url('./images/img404.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Varela Round', sans-serif;
}


.page-404::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.center-text {
  position: absolute;
  top: 65%;
  left: 23%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 50%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.heading {
  font-size: 12rem;
  font-weight: 800;
  color: #fff;
}

.heading__top {
  display: block;
  background-image: url('./images/img404.jpg');
  background-size: 100vw 100vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1; /* augmenter la valeur de l'opacité pour rendre l'image plus claire */
  background-position: center 65%;
}



.heading__bottom {
  display: block;
  transform: translate(115%, -16rem);
  color: #fff;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2),
               7px 7px 7px rgba(0, 0, 0, 0.2),
               8px 8px 8px rgba(0, 0, 0, 0.2),
               9px 9px 9px rgba(0, 0, 0, 0.2);
  font-size: 4vw; /* Changer la taille de police en unités relatives */
  transition: all 0.3s ease-in-out; /* ajouter une transition à l'ombre */
}


.button-wrapper {
  position: fixed;
  bottom: 16%;
  left: 56%;
  transform: translateX(-50%);
  z-index: 1;
}



/* ***************************************** Media queries ******************************************** */


@media (max-width: 1230px) {
  .circle{
    display: none;
  }
}

@media (max-width: 950px) {

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding: 0 20px;
    font-size: small;
  }

  .title {
    order: 1;
    width: 22%;
    text-align: left;
  }
  
  .title h1 {
    font-size: 2.1rem;
    margin: 0;
    max-width: 100px;
  }

  .container-employees {
    order: 2; 
    width: 100%; 
    margin: 20px 0; 
    padding: 0;
    text-align: center
  }

  .create-employee {
    order: 3;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size:1.05rem;
  }
  .container-employees a {
    width: 8em;
    height: 8em;
    padding: 1.5em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 30%; 
  }


  /* Ajustements du formulaire pour les petits écrans */
  .form-container {
    width: 80%; 
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
  }

  /* Correction de la barre blanche en bas */
  body .register {
    min-height: calc(100vh - 40px);
    padding-bottom: 20px;
  }

  /* *********** */

  .employee-list-container .block-container {

    width: 80px;
    height: 80px;
    margin: 32px;
  }

  .creased-text {
    font-size: 5px;
  }

  .hover-text{
    font-size: 10px;
  }
  .block-container:hover .hover-text {
    transition: 250ms;
    transform: translateY(90px) translateX(8px);
    color: #9388BD;
  }
    /* *********** */
  
  h2.create-employee-shadow { 
    padding: 90px 12.5px 40px;
    transform: translateX(-50%) translateY(-115%);
    left: 50%;
    width: 20rem;
  }
  .create-employee.no-delay {
    animation-delay: 0s; /* supprime le délai de l'animation */
  }


  /* ******************** page list *********************/
  

  .wrapper {
    max-width: 1200px;
  }
  
  .employee-table {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  table {
    width: 100%; 
  }
  
  th,
  td {
    padding: 10px;
    font-size:12px;
  }
  th {
    padding-bottom: 1.5rem;
  }

  /* ************** */

  .employee-table-bottom-right {
    display: flex;
    align-items: center;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .pagination-button {
    font-size: 12px;
  }

   /* ************** */

   .employee-table-button-delete {
    font-size: 0.8rem;
    transition: all 0.2s ease;
    margin-top: 0rem;
  }

  /* ************** */

  #select-pageSize{
    padding-right: 40px;
    padding-top: 5px;
  }
  .search-entries{
    margin-right: 1rem;
    font-weight: 600;
    font-size: 15px;
  }

}

@media (max-width: 1100px) {
  .table-container{
  min-width: 0; 
  width:100% ;
  }
}

@media (max-width:750px){

  .employee-table-button-delete {
    margin-top: 7rem;
  }
 
  .pagination {
    margin-top: 7rem;
  }
}

@media (max-width: 600px) {
  .employee-table-button-delete {
    margin-top: -1rem;
  }

  .pagination {
    margin-top: -1rem;
  }

    /* ************** */

    h2.create-employee-shadow { 
      width: 12rem;
      font-size:18px;
    }

    .create-employee.no-delay {
      animation-delay: 0s; /* supprime le délai de l'animation */
    }

    th,
    td {
      text-align: center;
      padding: 7px;
      font-size:10px;
    }
}
